@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root
{
    --lightgrey: #EAEDED;
    --darkgrey: #7F7F7F;
    --violet: #A280FF;
    --darkviolet: #551A8B;
}

*
{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color: var(--violet);
    box-shadow: 0px 2px 2px var(--violet);
    padding: 16px;
}

header > .logo
{
    color: var(--darkviolet);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Itim', sans-serif;
    font-size: 2em;
    transition: all 0.5s;
}

header > .logo:hover
{
    color: white;
    letter-spacing: 2px;
}

main
{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
    align-items: stretch;
}

main > .home
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}

main > .home > .info
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}

main > .home > .info > h1
{
    color: var(--violet);
    text-align: center;
    font-size: 2em;
    font-family: 'Itim', sans-serif;
}

main > .home > .info > p
{
    font-size: 1.1em;
    text-align: center;
}

main > .home > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main > .home > div > img
{
    width: 100%;
    max-width: 420px;
}

main > .gallery
{
    /* Foto de Anete Lusina no Pexels */
    background-image: url(../images/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

main > .gallery > .container
{
    background-color: #00000040;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    max-width: calc(100vw - 32px);
}

main > .gallery > .container > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    scroll-snap-align: start;
    width: 100%;
}

main > .gallery > .container > div > img
{
    background-color: white;
    object-fit: cover;
    width: 100%;
    max-width: 320px;
    padding: 16px;
    margin-top: 16px;
}

main > .gallery > .container > div > h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 320px;
    padding: 16px;
    margin-top: 16px;
}

main > .gallery > .container > div > p
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 0.9em;
    width: 100%;
    min-height: 100px;
    max-width: 320px;
    padding: 16px;
    margin-bottom: 16px;
}

main > .gallery > .container > div > p > .link
{
    color: var(--darkviolet);
    letter-spacing: 1px;
    font-size: 1.3em;
    font-family: 'Itim', sans-serif;
}

main > .gallery > .rightsReserved
{
    background-color: #00000090;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
}

main > .gallery > .rightsReserved > .link
{
    color: var(--violet);
    transition: all 0.5s;
}

main > .gallery > .rightsReserved > .link:hover
{
    text-decoration: underline white;
}

main > .madeBy 
{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

main > .madeBy > .card
{
    background-color: var(--lightgrey);
    border-radius: 10px;
    box-shadow: 6px 6px 10px #00000040;
}

main > .madeBy > .card  > img
{
    width: calc(280px - 32px);
    height: calc(280px - 32px);
    object-fit: cover;
    border-radius: 25%;
    border: 16px solid var(--lightgrey);
}

main > .madeBy > .card:nth-child(1)  > img
{
    border-top-left-radius: 10px;
}

main > .madeBy > .card:nth-child(2)  > img
{
    border-top-right-radius: 10px;
}

main > .madeBy > .card > .content
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: calc(280px/2);
    padding: 16px;
}

main > .madeBy > .card > .content > .icon
{
    display: inline-flex;
    justify-content: center;
    gap: 16px;
}
main > .madeBy > .card > .content > .icon > a
{
    font-size: 1.6em;
}

main > .madeBy > .card > .content > .icon > a > .fa-linkedin
{
    color: #0077B5;
}

main > .madeBy > .card > .content > .icon > a > .fa-instagram-square
{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main > .madeBy > .card > .content > .icon > a > .fa-github-square
{
    color: #171515;
}

main > .madeBy > .card > .content > h2
{
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

main > .madeBy > .card > .content > h4
{
    text-align: center;
    color: var(--darkviolet);
    font-weight: 300;
    font-size: 1.2em;
}

main > .comparison
{
    background-color: var(--violet);
    padding: 16px;
}

main > .comparison > .container
{
    background-color: #00000040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 16px;
    padding: 16px;
}

main > .comparison > .container > .imgBox
{
    background-color: white;
    position: relative;
    width: calc(280px - 32px);
    height: calc(224px - 32px);
    border-radius: 10px;
    padding: 8px;
    border: 8px solid white;
}

main > .comparison > .container > .imgBox > textarea
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

main > .comparison > .container > .imgBox > textarea:nth-child(2)
{
    min-width: 5%;
    width: 20%;
    max-width: 95%;
    resize: horizontal;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 4px solid var(--lightgrey);
}

main > .comparison > .container > .imgBox:nth-child(1) > textarea
{
    background-image: url(../images/comparison01.png);
}

main > .comparison > .container > .imgBox:nth-child(1) > textarea:nth-child(2)
{
    background-image: url(../images/comparison02.png);
}

main > .comparison > .container > .imgBox:nth-child(2) > textarea
{
    background-image: url(../images/comparison03.png);
}

main > .comparison > .container > .imgBox:nth-child(2) > textarea:nth-child(2)
{
    background-image: url(../images/comparison04.png);
}

main > .comparison > .rightsReserved
{
    background-color: #00000090;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
}

main > .comparison > .rightsReserved > .link
{
    color: var(--violet);
    transition: all 0.5s;
}

main > .comparison > .rightsReserved > .link:hover
{
    text-decoration: underline white;
}

footer
{
    background-color: var(--darkviolet);
    padding: 16px;
}

footer > .paragraph
{
    color: white;
    text-align: center;
    width: 100%;
}

footer > .paragraph > .link
{
    color: white;
    text-decoration: underline wavy var(--darkviolet);
    transition: all 0.5s;
}

footer > .paragraph > .link:hover
{
    letter-spacing: 1px;
}

@media screen and (min-width: 768px)
{
    main > .gallery > .container > div
    {
        width: calc(100%/2);
    }
    
    main > .comparison > .container > .imgBox
    {
        width: calc(350px - 32px);
        height: calc(280px - 32px);
    }

    main > .madeBy > .card  > img
    {
        width: 350px;
        height: 350px;
    }

    main > .madeBy > .card > .content
    {
        height: calc(350px/2);
    }
}

@media screen and (min-width: 1080px)
{
    main > .gallery > .container > div
    {
        width: calc(100%/3);
    }

    main > .comparison > .container > .imgBox
    {
        width: calc(400px - 32px);
        height: calc(320px - 32px);
    }
}
